/* Waybar (bridges): stile */

@define-color ds_bg #0a0a0c;
@define-color ds_yellow #f0c808;
@define-color ds_text #d0d0d0;
@define-color ds_muted #444444;

* {
    border: none;
    border-radius: 0;

    font-family: "Share Tech Mono", "Rajdhani", "SpaceMono Nerd Font", monospace;
    font-size: 12pt;
    font-weight: 700;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

window#waybar {
    background-color: @ds_bg;
    color: @ds_text;
    border-bottom: 1px solid #1a1a1a;
}

#window, #network, #cpu, #memory, #battery, #pulseaudio {
    background-color: transparent;
    padding: 0;
}

#custom-spacer {
    color: @ds_muted;
    background-color: transparent;
}

#custom-os_label {
    background-color: @ds_yellow;
    color: #000000;
    padding: 0 17px;
    font-size: 13pt;
}

#clock {
    background-color: @ds_yellow;
    color: #000000;
    padding: 2px 17px 0 17px;
}
