// Niri: tema bauhaus

layout {
    background-color "transparent"

    focus-ring {
        off
    }

    border {
        on
        width 5
        active-color "#2453D9"
        inactive-color "#141210"
        urgent-color "#E63B2E"
    }

    shadow {
        on
        softness 0
        spread 0
        offset x=7 y=7
        color "#141210FF"
        inactive-color "#14121066"
    }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

animations {
    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
}
