// Niri: tema win95

layout {
    background-color "transparent"

    focus-ring {
        off
    }

    border {
        on
        width 4
        active-color "#3a5fb0"
        inactive-color "#4a4f4f"
        urgent-color "#b5443a"
    }

    shadow {
        on
        softness 0
        spread 0
        offset x=5 y=5
        color "#000000d0"
        inactive-color "#00000060"
    }
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

animations {
    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 120
        curve "ease-out-quad"
    }
}
