/* Vencord: tema system24.mio */

@import url('https://refact0r.github.io/system24/build/system24.css');

body {

    --font: 'IosevkaTerm Nerd Font', 'DM Mono', monospace;
    --code-font: 'IosevkaTerm Nerd Font', 'DM Mono', monospace;
    font-weight: 300;
    letter-spacing: -0.05ch;

    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 2px;
    --border-hover-transition: 0.2s ease;

    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;

    --custom-window-controls: off;
    --window-control-size: 14px;

    --custom-dms-icon: off;
    --dms-icon-svg-url: url('');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-subtle);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-image-url: url('');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));

    --background-image: off;
    --background-image-url: url('');

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);

    --small-user-panel: on;

    --unrounding: on;

    --custom-spotify-bar: on;
    --ascii-titles: on;
    --ascii-loader: system24;

    --panel-labels: on;
    --label-color: var(--text-muted);
    --label-font-weight: 500;
}

:root {
    --colors: on;

    --text-0: #000000;
    --text-1: #fbf1c7;
    --text-2: #ebdbb2;
    --text-3: #ddc7a1;
    --text-4: #a89984;
    --text-5: #7c6f64;

    --bg-1: #32302f;
    --bg-2: #282828;
    --bg-3: #141617;
    --bg-4: #000000;

    --hover: rgba(235, 219, 178, 0.05);
    --active: rgba(235, 219, 178, 0.1);
    --active-2: rgba(235, 219, 178, 0.15);
    --message-hover: var(--hover);

    --accent-1: #e78a4e;
    --accent-2: #d8a657;
    --accent-3: #e78a4e;
    --accent-4: #d8a657;
    --accent-5: #ea6962;
    --accent-new: #ea6962;

    --mention: linear-gradient(to right, rgba(231, 138, 78, 0.15) 40%, transparent);
    --mention-hover: linear-gradient(to right, rgba(231, 138, 78, 0.2) 40%, transparent);
    --reply: linear-gradient(to right, rgba(221, 199, 161, 0.08) 40%, transparent);
    --reply-hover: linear-gradient(to right, rgba(221, 199, 161, 0.12) 40%, transparent);

    --online: #a9b665;
    --dnd: #ea6962;
    --idle: #d8a657;
    --streaming: #d3869b;
    --offline: #7c6f64;

    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: #e78a4e;
    --button-border: rgba(235, 219, 178, 0.05);

    --red-1: #ea6962; --red-2: #ea6962; --red-3: #ea6962; --red-4: #ea6962; --red-5: #ea6962;
    --green-1: #a9b665; --green-2: #a9b665; --green-3: #a9b665; --green-4: #a9b665; --green-5: #a9b665;
    --blue-1: #7daea3; --blue-2: #7daea3; --blue-3: #7daea3; --blue-4: #7daea3; --blue-5: #7daea3;
    --yellow-1: #d8a657; --yellow-2: #d8a657; --yellow-3: #d8a657; --yellow-4: #d8a657; --yellow-5: #d8a657;
    --purple-1: #d3869b; --purple-2: #d3869b; --purple-3: #d3869b; --purple-4: #d3869b; --purple-5: #d3869b;
}
