/* Rofi: tema aero */

* {
    bg:        #0e2a33;
    bg-alt:    #143d49;
    base-bg:   #06181e;
    window-bg: #06181edd;
    fg-light:  #dffaff;
    fg-dark:   #06181e;
    muted:     #5a8390;
    red:       #ff6b6b;
    orange:    #ffb86b;
    yellow:    #ffe48a;
    green:     #7cffb2;
    aqua:      #2fc4b2;
    blue:      #39c5ff;
    purple:    #9bb8ff;
    accent:    #2fc4b2;
}
