/* Rofi palette: everforest */
* {
    bg:        #2d353b;
    bg-alt:    #343f44;
    base-bg:   #232a2e;
    window-bg: #232a2edd;
    fg-light:  #d3c6aa;
    fg-dark:   #232a2e;
    muted:     #859289;
    red:       #e67e80;
    orange:    #e69875;
    yellow:    #dbbc7f;
    green:     #a7c080;
    aqua:      #83c092;
    blue:      #7fbbb3;
    purple:    #d699b6;
    accent:    #a7c080;
}
