window {
    background: #161617;
    border: 2px solid #aca1cf;
    border-radius: 0px;
}
#osd { padding: 2px 6px; margin: 0; }
image { color: #c9c7cd; margin-right: 10px; opacity: 1.0; }
label { color: #c9c7cd; font-weight: bold; }
progressbar trough {
    background: #424246;
    border-radius: 0px;
    min-height: 4px;
    min-width: 140px;
}
progressbar progress { background: #aca1cf; border-radius: 0px; }
