/* Waybar (gruvbox): stile */

@define-color bg #282828;
@define-color bg_alt #32302f;
@define-color fg_dark #282828;
@define-color fg_light #ddc7a1;
@define-color base_bg #1d2021;
@define-color red #ea6962;
@define-color orange #e78a4e;
@define-color yellow #d8a657;
@define-color green #a9b665;
@define-color aqua #89b482;
@define-color blue #7daea3;
@define-color purple #d3869b;

* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm Nerd Font", "SpaceMono Nerd Font", sans-serif;
    font-size: 12pt;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: @base_bg;
}

#custom-launcher, #workspaces, #clock, #custom-nightmode, #custom-clipboard, #custom-mako, #idle_inhibitor, #cpu, #memory, #pulseaudio, #backlight, #power-profiles-daemon, #network, #battery, #tray {
    color: @fg_dark;
    padding: 0 4px;
}

#window {
    color: @fg_light;
    background: transparent;
    padding-left: 8px;
}

#workspaces button {
    color: @fg_light;
    padding: 0 4px;
}
#workspaces button.active {
    color: #ffffff;
}

#custom-launcher { background: @blue; }
#workspaces { background: @bg_alt; }
#clock { background: @yellow; }

#custom-nightmode { background: @purple; }
#custom-clipboard { background: @orange; }
#custom-mako { background: @red; }
#idle_inhibitor { background: @yellow; }

#cpu { background: @green; }
#memory { background: @aqua; }
#pulseaudio { background: @blue; }
#backlight { background: @yellow; }
#power-profiles-daemon { background: @orange; }
#network { background: @red; }
#battery { background: @green; }
#tray { background: @bg_alt; padding: 0 10px; }

#custom-l_arrow1, #custom-l_arrow2, #custom-l_arrow3, #custom-l_arrow4, #custom-l_arrow5, #custom-c_arrow1, #custom-c_arrow2, #custom-r_arrow1, #custom-r_arrow2, #custom-r_arrow3, #custom-r_arrow4, #custom-r_arrow5, #custom-r_arrow6, #custom-r_arrow7, #custom-r_arrow8, #custom-r_arrow9, #custom-r_arrow10 {
    font-size: 16pt;
}

#custom-l_arrow1 { color: @blue; background: @bg_alt; }
#custom-l_arrow2 { color: @bg_alt; background: @purple; }
#custom-l_arrow3 { color: @purple; background: @red; }
#custom-l_arrow4 { color: @red; background: @yellow; }
#custom-l_arrow5 { color: @yellow; background: transparent; }

#custom-c_arrow1 { color: @yellow; background: transparent; }
#custom-c_arrow2 { color: @yellow; background: transparent; }

#custom-r_arrow1 { color: @orange; background: transparent; }
#custom-r_arrow2 { color: @green; background: @orange; }
#custom-r_arrow3 { color: @aqua; background: @green; }
#custom-r_arrow4 { color: @blue; background: @aqua; }
#custom-r_arrow5 { color: @yellow; background: @blue; }
#custom-r_arrow6 { color: @orange; background: @yellow; }
#custom-r_arrow7 { color: @red; background: @orange; }
#custom-r_arrow8 { color: @green; background: @red; }
#custom-r_arrow9 { color: @bg_alt; background: @green; }
#custom-r_arrow10 { color: @red; background: @bg_alt; }

#custom-power {
    background: @red;
    color: @bg;
    padding-right: 8px;
}
