/* Waybar: tema dune */

@define-color du_base   #15110c;
@define-color du_panel  #2e2519;
@define-color du_text   #e0c9a6;
@define-color du_muted  #8a7355;
@define-color du_gold   #d99a4e;
@define-color du_blue   #5aa9e6;
@define-color du_danger #a8472a;

* {
    border: none;
    border-radius: 0;
    font-family: "Rajdhani", "Chakra Petch", "Share Tech Mono", "Iosevka Nerd Font", monospace;
    font-size: 14pt;
    font-weight: 600;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

window#waybar {
    background-color: @du_base;
    color: @du_text;
    border-bottom: 1px solid @du_panel;
}

#custom-l_arrow1, #custom-l_arrow2, #custom-l_arrow3, #custom-l_arrow4, #custom-l_arrow5,
#custom-c_arrow1, #custom-c_arrow2,
#custom-r_arrow1, #custom-r_arrow2, #custom-r_arrow3, #custom-r_arrow4, #custom-r_arrow5,
#custom-r_arrow6, #custom-r_arrow7, #custom-r_arrow8, #custom-r_arrow9, #custom-r_arrow10 {
    color: transparent;
    background: transparent;
    font-size: 0;
    padding: 0;
    margin: 0;
}

#custom-nightmode, #custom-mako, #custom-clipboard, #idle_inhibitor,
#cpu, #memory, #pulseaudio, #backlight, #power-profiles-daemon,
#network, #battery, #tray, #workspaces {
    background-color: transparent;
    color: @du_text;
    padding: 0 9px;
}

#window {
    color: @du_muted;
    background: transparent;
    padding-left: 12px;
}

#workspaces button {
    color: @du_muted;
    padding: 0 7px;
}
#workspaces button.active {
    color: @du_blue;
}

#custom-launcher, #clock, #custom-power {
    background-color: @du_gold;
    color: @du_base;
    font-weight: 700;
    padding: 0 16px;
}
#custom-power { padding-right: 18px; }
#custom-launcher { padding-left: 18px; }

#battery.warning { color: @du_gold; }
#battery.critical, #pulseaudio.muted, #network.disconnected {
    color: @du_danger;
}
